# Handling Missing Values

## 0. Modules

In [1]:
import numpy as np
import pandas as pd

## 1. Take a first look at the data

In [2]:
# NFL Play by Play 2009-2017 (v4).csv.zip

# read in all our data
nfl_data = pd.read_csv("NFL Play by Play 2009-2017 (v4).csv.zip")

# set seed for reproducibility
np.random.seed(0)

C:\Users\Ling-Hao Lin\AppData\Local\Temp\ipykernel_26416\3209723891.py:4: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  nfl_data = pd.read_csv("NFL Play by Play 2009-2017 (v4).csv.zip")

ç•¶ä½ ç²å¾—ä¸€å€‹æ–°çš„è³‡æ–™é›†æ™‚ï¼Œé¦–å…ˆæ‡‰è©²åšçš„æ˜¯æŸ¥çœ‹å…¶ä¸­çš„ä¸€éƒ¨åˆ†ã€‚é€™è®“ä½ ç¢ºèªè³‡æ–™æ˜¯å¦éƒ½æ­£ç¢ºè®€å–ï¼Œ  
ä¸¦è®“ä½ å°è³‡æ–™çš„ç‹€æ³æœ‰æ‰€äº†è§£ã€‚åœ¨é€™å€‹æƒ…æ³ä¸‹ï¼Œè®“æˆ‘å€‘çœ‹çœ‹æ˜¯å¦æœ‰ä»»ä½•éºå¤±çš„å€¼ï¼Œé€™äº›å€¼å°‡ä»¥ `NaN` æˆ– `None` è¡¨ç¤ºã€‚

In [3]:
# look at the first five rows of the nfl_data file. 
# I can see a handful of missing data already!
nfl_data.head()

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

å¯ä»¥çœ‹åˆ°æœ‰éºå¤±å€¼

## 2. How many missing data points do we have?

å¥½çš„ï¼Œæ—¢ç„¶æˆ‘å€‘çŸ¥é“ç¢ºå¯¦æœ‰ä¸€äº›éºå¤±çš„å€¼ï¼Œæ¥ä¸‹ä¾†è®“æˆ‘å€‘çœ‹çœ‹æ¯å€‹æ¬„ä½ä¸­æœ‰å¤šå°‘éºå¤±çš„å€¼ã€‚

In [4]:
# get the number of missing data points per column
missing_values_count = nfl_data.isnull().sum()

# look at the # of missing points in the first ten columns
missing_values_count[0:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

çœ‹èµ·ä¾†æ•¸é‡ä¸å°‘ï¼ç‚ºäº†æ›´å¥½åœ°äº†è§£é€™å€‹å•é¡Œçš„è¦æ¨¡ï¼Œæˆ‘å€‘å¯ä»¥è¨ˆç®—å‡ºè³‡æ–™é›†ä¸­éºå¤±å€¼çš„ç™¾åˆ†æ¯”ï¼Œé€™å¯èƒ½æœƒæœ‰å¹«åŠ©ã€‚

In [5]:
# how many total missing values do we have?
total_cells = np.product(nfl_data.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

27.66722370547874

å“‡ï¼Œé€™å€‹è³‡æ–™é›†ä¸­è¿‘å››åˆ†ä¹‹ä¸€çš„å–®å…ƒæ ¼æ˜¯ç©ºçš„ï¼ä¸‹ä¸€æ­¥ï¼Œæˆ‘å€‘å°‡æ›´ä»”ç´°åœ°æª¢æŸ¥ä¸€äº›æœ‰éºå¤±å€¼çš„æ¬„ä½ï¼Œä¸¦å˜—è©¦å¼„æ¸…æ¥šå¯èƒ½çš„æƒ…æ³ã€‚

## 3. Figure out why the data is missing

é€™æ˜¯æˆ‘å€‘é€²å…¥è³‡æ–™ç§‘å­¸ä¸­æˆ‘å–œæ­¡ç¨±ä¹‹ç‚ºã€Œè³‡æ–™ç›´è¦ºã€çš„éšæ®µï¼Œæ„å³ã€ŒçœŸæ­£è§€å¯Ÿä½ çš„è³‡æ–™ä¸¦è©¦åœ–äº†è§£ç‚ºä»€éº¼æœƒæ˜¯é€™æ¨£ä»¥åŠé€™å°‡å¦‚ä½•å½±éŸ¿ä½ çš„åˆ†æã€ã€‚  
é€™å¯èƒ½æ˜¯è³‡æ–™ç§‘å­¸ä¸­ä»¤äººæ²®å–ªçš„éƒ¨åˆ†ï¼Œå°¤å…¶æ˜¯å¦‚æœä½ å°é€™å€‹é ˜åŸŸè¼ƒç‚ºæ–°æ‰‹ï¼Œè€Œä¸”æ²’æœ‰å¾ˆå¤šç¶“é©—çš„è©±ã€‚è™•ç†éºå¤±å€¼æ™‚ï¼Œä½ éœ€è¦ä½¿ç”¨ä½ çš„ç›´è¦ºä¾†æ¨æ¸¬ç‚ºä»€éº¼è©²å€¼æœƒéºå¤±ã€‚  
ç‚ºäº†å¹«åŠ©å¼„æ¸…æ¥šé€™ä¸€é»ï¼Œä½ å¯ä»¥å•è‡ªå·±ä¸€å€‹éå¸¸é‡è¦çš„å•é¡Œï¼š

**é€™å€‹å€¼æ˜¯éºå¤±æ˜¯å› ç‚ºå®ƒæ²’æœ‰è¢«è¨˜éŒ„ä¸‹ä¾†ï¼Œé‚„æ˜¯å› ç‚ºå®ƒæœ¬ä¾†å°±ä¸å­˜åœ¨ï¼Ÿ**  
(Is this value missing because it wasn't recorded or because it doesn't exist?)

å¦‚æœä¸€å€‹å€¼å› ç‚ºæœ¬ä¾†å°±ä¸å­˜åœ¨è€Œéºå¤±ï¼ˆä¾‹å¦‚æŸäººæ²’æœ‰å­©å­çš„è©±ï¼Œä»–æœ€å¤§çš„å­©å­çš„èº«é«˜ï¼‰ï¼Œé‚£éº¼å˜—è©¦çŒœæ¸¬å®ƒå¯èƒ½æ˜¯ä»€éº¼æ˜¯æ²’æœ‰æ„ç¾©çš„ã€‚  
é€™äº›å€¼ä½ å¯èƒ½æœƒæƒ³ä¿ç•™ç‚º `NaN`ã€‚å¦ä¸€æ–¹é¢ï¼Œå¦‚æœä¸€å€‹å€¼æ˜¯å› ç‚ºæ²’æœ‰è¢«è¨˜éŒ„ä¸‹ä¾†è€Œéºå¤±ï¼Œé‚£éº¼ä½ å¯ä»¥å˜—è©¦æ ¹æ“šè©²åˆ—å’Œè¡Œä¸­çš„å…¶ä»–å€¼ä¾†çŒœæ¸¬å®ƒå¯èƒ½æ˜¯ä»€éº¼ã€‚  
é€™ç¨±ç‚º**å¡«è£œï¼ˆimputationï¼‰**ï¼Œæˆ‘å€‘æ¥ä¸‹ä¾†å°‡å­¸ç¿’å¦‚ä½•é€²è¡Œï¼ :)

è®“æˆ‘å€‘ä¾†é€²è¡Œä¸€å€‹ä¾‹å­ã€‚æŸ¥çœ‹ `nfl_data` è³‡æ–™æ¡†ä¸­çš„éºå¤±å€¼æ•¸é‡æ™‚ï¼Œæˆ‘æ³¨æ„åˆ°ã€ŒTimesSecã€é€™ä¸€æ¬„ä¸­æœ‰è¨±å¤šéºå¤±å€¼ï¼š

In [6]:
# look at the # of missing points in the first ten columns
missing_values_count[0:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

é€šéæŸ¥çœ‹[ç›¸é—œæ–‡ä»¶](https://www.kaggle.com/datasets/maxhorowitz/nflplaybyplay2009to2016)ï¼Œæˆ‘å€‘å¯ä»¥çœ‹åˆ°é€™å€‹æ¬„ä½è¨˜éŒ„äº†é€²è¡Œæ¯”è³½æ™‚éŠæˆ²å‰©é¤˜çš„ç§’æ•¸ã€‚é€™æ„å‘³è‘—é€™äº›å€¼å¾ˆå¯èƒ½æ˜¯å› ç‚ºæ²’æœ‰è¢«è¨˜éŒ„ä¸‹ä¾†è€Œéºå¤±ï¼Œ  
è€Œä¸æ˜¯å› ç‚ºå®ƒå€‘ä¸å­˜åœ¨ã€‚å› æ­¤ï¼Œæˆ‘å€‘å˜—è©¦çŒœæ¸¬å®ƒå€‘æ‡‰æœ‰çš„æ•¸å€¼ï¼Œè€Œä¸æ˜¯åƒ…åƒ…å°‡å®ƒå€‘ç•™ç‚º `NA`ï¼Œé€™æ¨£åšæ˜¯æœ‰é“ç†çš„ã€‚

å¦ä¸€æ–¹é¢ï¼Œåƒæ˜¯ã€ŒPenalizedTeamã€é€™æ¨£çš„æ¬„ä½ä¹Ÿæœ‰è¨±å¤šéºå¤±çš„æ•¸å€¼ã€‚ç„¶è€Œï¼Œåœ¨é€™å€‹æ¡ˆä¾‹ä¸­ï¼Œå¦‚æœæ¯”è³½ä¸­æ²’æœ‰ç½°æ¬¾ï¼Œé‚£éº¼æŒ‡å‡ºå“ªå€‹éšŠä¼è¢«ç½°æ¬¾å°±æ²’æœ‰æ„ç¾©ã€‚  
å°æ–¼é€™å€‹æ¬„ä½ï¼Œå°‡å…¶ä¿ç•™ç‚ºç©ºæˆ–æ·»åŠ ä¸€å€‹ç¬¬ä¸‰å€‹å€¼ï¼Œå¦‚ã€Œç„¡ã€ï¼Œä¸¦ä½¿ç”¨å®ƒä¾†æ›¿æ› `NA`ï¼Œå¯èƒ½æ›´æœ‰æ„ç¾©ã€‚

**Tip : å¦‚æœä½ é‚„æ²’æœ‰é–±è®€éè³‡æ–™é›†çš„æ–‡ä»¶ï¼Œç¾åœ¨æ˜¯ä¸€å€‹å¾ˆå¥½çš„æ™‚æ©Ÿï¼å¦‚æœä½ æ­£åœ¨è™•ç†å¾å…¶ä»–äººé‚£è£¡ç²å¾—çš„è³‡æ–™é›†ï¼Œä½ ä¹Ÿå¯ä»¥å˜—è©¦è¯çµ¡ä»–å€‘ä»¥ç²å–æ›´å¤šè¨Šæ¯ã€‚  
é€™æ¨£åšå¯ä»¥å¹«åŠ©ä½ æ›´å¥½åœ°ç†è§£æ•¸æ“šçš„èƒŒæ™¯å’Œç´°ç¯€ï¼Œå¾è€Œæ›´æœ‰æ•ˆåœ°è™•ç†æ•¸æ“šä¸­çš„å•é¡Œã€‚**

å¦‚æœä½ åœ¨é€²è¡Œéå¸¸ä»”ç´°çš„è³‡æ–™åˆ†æï¼Œé€™æ™‚å€™ä½ æœƒé‡å°æ¯å€‹æ¬„ä½å–®ç¨åˆ†æï¼Œä»¥ç¢ºå®šå¡«è£œéºå¤±å€¼çš„æœ€ä½³ç­–ç•¥ã€‚åœ¨æœ¬ç­†è¨˜æœ¬çš„å…¶é¤˜éƒ¨åˆ†ï¼Œ  
æˆ‘å€‘å°‡ä»‹ç´¹ä¸€äº›ã€Œå¿«é€Ÿè€Œç²—ç³™ã€çš„æŠ€å·§ï¼Œé€™äº›æŠ€å·§å¯ä»¥å¹«åŠ©ä½ è™•ç†éºå¤±å€¼ï¼Œä½†å¯èƒ½ä¹Ÿæœƒåˆªé™¤ä¸€äº›æœ‰ç”¨çš„ä¿¡æ¯æˆ–çµ¦ä½ çš„æ•¸æ“šæ·»åŠ ä¸€äº›å™ªè²ã€‚

## 4. Drop missing values

å¦‚æœä½ æ¯”è¼ƒè¶•æˆ–è€…æ²’æœ‰ç†ç”±å»æ¢ç©¶ç‚ºä»€éº¼ä½ çš„æ•¸æ“šæœƒéºå¤±ï¼Œä¸€å€‹é¸é …æ˜¯ç›´æ¥ç§»é™¤åŒ…å«éºå¤±å€¼çš„ä»»ä½•è¡Œæˆ–æ¬„ã€‚  
ï¼ˆ**æ³¨æ„ï¼šæˆ‘é€šå¸¸ä¸æ¨è–¦åœ¨é‡è¦çš„å°ˆæ¡ˆä¸­ä½¿ç”¨é€™ç¨®æ–¹æ³•ï¼é€šå¸¸èŠ±æ™‚é–“é€ä¸€æª¢è¦–æ¯å€‹åŒ…å«éºå¤±å€¼çš„æ¬„ä½ï¼ŒçœŸæ­£äº†è§£ä½ çš„è³‡æ–™é›†æ˜¯å€¼å¾—çš„ã€‚**ï¼‰

å¦‚æœä½ ç¢ºå®šæƒ³è¦åˆªé™¤åŒ…å«éºå¤±å€¼çš„è¡Œï¼Œpandas æä¾›äº†ä¸€å€‹æ–¹ä¾¿çš„å‡½æ•¸ `dropna()` ä¾†å¹«åŠ©ä½ åšåˆ°é€™é»ã€‚  
è®“æˆ‘å€‘åœ¨æˆ‘å€‘çš„ NFL è³‡æ–™é›†ä¸Šè©¦ç”¨å®ƒï¼

In [7]:
# remove all the rows that contain a missing value
nfl_data.dropna()

Empty DataFrame
Columns: [Date, GameID, Drive, qtr, down, time, TimeUnder, TimeSecs, PlayTimeDiff, SideofField, yrdln, yrdline100, ydstogo, ydsnet, GoalToGo, FirstDown, posteam, DefensiveTeam, desc, PlayAttempted, Yards.Gained, sp, Touchdown, ExPointResult, TwoPointConv, DefTwoPoint, Safety, Onsidekick, PuntResult, PlayType, Passer, Passer_ID, PassAttempt, PassOutcome, PassLength, AirYards, YardsAfterCatch, QBHit, PassLocation, InterceptionThrown, Interceptor, Rusher, Rusher_ID, RushAttempt, RunLocation, RunGap, Receiver, Receiver_ID, Reception, ReturnResult, Returner, BlockingPlayer, Tackler1, Tackler2, FieldGoalResult, FieldGoalDistance, Fumble, RecFumbTeam, RecFumbPlayer, Sack, Challenge.Replay, ChalReplayResult, Accepted.Penalty, PenalizedTeam, PenaltyType, PenalizedPlayer, Penalty.Yards, PosTeamScore, DefTeamScore, ScoreDiff, AbsScoreDiff, HomeTeam, AwayTeam, Timeout_Indicator, Timeout_Team, posteam_timeouts_pre, HomeTimeouts_Remaining_Pre, AwayTimeouts_Remaining_Pre, HomeTimeouts_Remaining_Post, AwayTimeouts_Remaining_Post, No_Score_Prob, Opp_Field_Goal_Prob, Opp_Safety_Prob, Opp_Touchdown_Prob, Field_Goal_Prob, Safety_Prob, Touchdown_Prob, ExPoint_Prob, TwoPoint_Prob, ExpPts, EPA, airEPA, yacEPA, Home_WP_pre, Away_WP_pre, Home_WP_post, Away_WP_post, Win_Prob, WPA, airWPA, ...]
Index: []

[0 rows x 102 columns]

å“å‘€ï¼Œçœ‹èµ·ä¾†é€™æ¨£åšå·²ç¶“åˆªé™¤äº†æˆ‘å€‘æ‰€æœ‰çš„æ•¸æ“šï¼ğŸ˜± é€™æ˜¯å› ç‚ºæˆ‘å€‘è³‡æ–™é›†ä¸­çš„æ¯ä¸€è¡Œè‡³å°‘æœ‰ä¸€å€‹éºå¤±å€¼ã€‚  
æˆ‘å€‘æ”¹ç‚ºåˆªé™¤è‡³å°‘æœ‰ä¸€å€‹éºå¤±å€¼çš„æ‰€æœ‰æ¬„ä½ã€‚

In [8]:
# remove all columns with at least one missing value
columns_with_na_dropped = nfl_data.dropna(axis=1)
columns_with_na_dropped.head()

,Date,GameID,Drive,qtr,TimeUnder,ydstogo,ydsnet,PlayAttempted,Yards.Gained,sp,...,AwayTeam,Timeout_Indicator,posteam_timeouts_pre,HomeTimeouts_Remaining_Pre,AwayTimeouts_Remaining_Pre,HomeTimeouts_Remaining_Post,AwayTimeouts_Remaining_Post,ExPoint_Prob,TwoPoint_Prob,Season
0,2009-09-10,2009091000,1,1,15,0,0,1,39,0,...,TEN,0,3,3,3,3,3,0.0,0.0,2009
1,2009-09-10,2009091000,1,1,15,10,5,1,5,0,...,TEN,0,3,3,3,3,3,0.0,0.0,2009
2,2009-09-10,2009091000,1,1,15,5,2,1,-3,0,...,TEN,0,3,3,3,3,3,0.0,0.0,2009
3,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,TEN,0,3,3,3,3,3,0.0,0.0,2009
4,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,TEN,0,3,3,3,3,3,0.0,0.0,2009

In [9]:
# just how much data did we lose?
print("Columns in original dataset: %d \n" % nfl_data.shape[1])
print("Columns with na's dropped: %d" % columns_with_na_dropped.shape[1])

Columns in original dataset: 102

Columns with na's dropped: 37

æˆ‘å€‘å·²ç¶“å¤±å»äº†ç›¸ç•¶å¤šçš„æ•¸æ“šï¼Œä½†åˆ°ç›®å‰ç‚ºæ­¢ï¼Œæˆ‘å€‘å·²ç¶“æˆåŠŸåœ°å¾æˆ‘å€‘çš„æ•¸æ“šä¸­ç§»é™¤äº†æ‰€æœ‰çš„ NaNã€‚é€™å¯ä»¥æ¸…ç†æ•¸æ“šï¼Œ  
ä½†åŒæ™‚ä¹Ÿéœ€è¦æ³¨æ„å¯èƒ½ä¸Ÿå¤±çš„é‡è¦è³‡è¨Šã€‚

## 5. Filling in missing values automatically

å¦ä¸€å€‹é¸é …æ˜¯å˜—è©¦å¡«è£œéºå¤±çš„å€¼ã€‚æ¥ä¸‹ä¾†ï¼Œæˆ‘å°‡ç²å– NFL æ•¸æ“šçš„ä¸€å°éƒ¨åˆ†å­é›†ï¼Œä»¥ä¾¿èƒ½å¤ æ¸…æ¥šåœ°æ‰“å°å‡ºä¾†ã€‚

In [10]:
# get a small subset of the NFL dataset
subset_nfl_data = nfl_data.loc[:, 'EPA':'Season'].head()
subset_nfl_data

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,NaN,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,NaN,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,NaN,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

æˆ‘å€‘å¯ä»¥ä½¿ç”¨ Pandas çš„ `fillna()` å‡½æ•¸ä¾†ç‚ºæˆ‘å€‘å¡«è£œè³‡æ–™æ¡†ä¸­çš„éºå¤±å€¼ã€‚  
æˆ‘å€‘æœ‰ä¸€å€‹é¸é …æ˜¯æŒ‡å®šæˆ‘å€‘å¸Œæœ›ç”¨ä»€éº¼å€¼ä¾†æ›¿æ› NaN å€¼ã€‚  
åœ¨é€™è£¡ï¼Œæˆ‘æŒ‡å®šæˆ‘å¸Œæœ›å°‡æ‰€æœ‰çš„ NaN å€¼æ›¿æ›ç‚º 0ã€‚

In [11]:
# replace all NA's with 0
subset_nfl_data.fillna(0)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,0.000000,0.000000,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,0.000000,0.000000,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,0.000000,0.000000,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.000000,0.000000,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009

æˆ‘ä¹Ÿå¯ä»¥æ›´å·§å¦™ä¸€äº›ï¼Œç”¨åŒä¸€æ¬„ä½ä¸­ç›´æ¥å¾Œé¢çš„å€¼ä¾†æ›¿æ›éºå¤±çš„å€¼ã€‚ï¼ˆ**å°æ–¼é‚£äº›è§€å¯Ÿæ•¸æ“šå…·æœ‰æŸç¨®é‚è¼¯é †åºçš„è³‡æ–™é›†ä¾†èªªï¼Œé€™ç¨®åšæ³•éå¸¸æœ‰æ„ç¾©ã€‚**ï¼‰  
é€™ç¨®æ–¹æ³•åœ¨Pandasä¸­é€šå¸¸ä½¿ç”¨ `fillna()` å‡½æ•¸é…åˆ `method='bfill'` åƒæ•¸ä¾†å¯¦ç¾ï¼Œé€™æ¨£å¯ä»¥å°‡ NaN å€¼æ›¿æ›ç‚ºä¹‹å¾Œçš„é NaN å€¼ã€‚

In [12]:
# replace all NA's the value that comes directly after it in the same column, 
# then replace all the remaining na's with 0
subset_nfl_data = subset_nfl_data.bfill(axis=0).fillna(0)
subset_nfl_data

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,-1.068169,1.146076,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,-0.032244,0.036899,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,3.318841,-5.031425,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.106663,-0.156239,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009